/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18.5.2015, 23:54:16
    Author     : martin
*/

.zeroPadding {
  padding: 0 !important;
}

tdd {
    padding-left: 50px;
}

.corp-id {
    padding-left: 30px !important;   
}

p {
    font-size: 1.2em; /* 14px/16=0.875em */
}